@charset "utf-8";


/*common*/
.txt { width:100%; height:100%; line-height:100%; font-size:20px; border:none; outline:none; }
textarea.txt { width:100%; height:100%; line-height:25px; font-size:20px; border:none; outline:none;  }

a.btn { display:block; text-align:center; height:50px; line-height:50px; text-decoration:none; color:#000; font-size:30px;}

.jsdiv { width:100%; margin-bottom:210px; font-size:30px;}
.jsdivb { width:100%; margin-bottom:60px; font-size:30px;}

.allbox { width:100%; height:200px; position:fixed; bottom:0px; left:0px;}
.txtbox { width:100%; height:50px;}
.btnzdy { width:100%; height:50px;}
.btntj { width:50%; float:left;}

.bca { background-color:#FFFF99;}
.bcb { background-color:#FFFF66;}
.bcc { background-color:#FFFF33;}
.bct { background-color:#CCFFFF;}

.nrbtn { position:fixed; left:0px; bottom:0px; width:100%; height:50px;}

.poa { position:fixed; right:20px; background-color:#CCC; color:#000; width:50px; height:50px; line-height:50px; text-align:center; font-size:30px; display:block; text-decoration:none;}